
.job-list{
	margin: 0;
	&--three-columns{
		@include breakpoint(medium) {
			column-count: 2;
		}
		@include breakpoint(large) {
			display: block;
			column-count: 3;
		}
	}
}

.job-list__heading{
	margin: 0;
	&--with-margin{
		margin-bottom: rem-calc(23);
	}
}

.job-list__item{
	list-style-type: none;
	margin-bottom: rem-calc(6);
	i{
		display: none;
		@include breakpoint(medium) {
			display: inline-block;
		}
		
		padding-right: rem-calc(2);
	}
	a{
		padding-left: rem-calc(2);
		display: inline-block;
	}
}

.job-single{

}

.featured-topic-list{

}

// .tabs-title> a.job-single__filter-tab{
// 	text-transform: uppercase;
// 	color: $yellow;
// 	font-family: $header-font-family;
// 	@include breakpoint(medium) {
// 		font-size: rem-calc(18);
// 		letter-spacing: 0.8px;
// 	}
// }

.job-single__byline-cat{
	color: #545454;
	text-transform: uppercase;
	font-style: normal;
	font-size: rem-calc(12);
	letter-spacing: 1px;
	line-height: 1;
	margin-right: 15px;
	@include breakpoint(xxlarge) {
		margin-right: 0;
	}
	& a {
		border-bottom: 1px solid transparent;
		padding-bottom: 1px;
		position: relative;
		transition: all .2s ease-in-out;
		&:hover, &:focus {
			color: #545454;
			border-bottom-color: #ddd;
		}
	}
	& a:not(:first-of-type):before {
		content: "·";
		display: inline-block;
		position: absolute;
		left: -11px;
		top: 0;
	}
}
.job-single__basic-info{
	font-size: rem-calc(22);
	p{ margin: 0}
}

.job-single__descriptor{
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: bold;
}

.apply__container{
	text-align: center;
	margin-top: rem-calc(20);
	padding-top: rem-calc(20);
	border-top: 2px solid #eee;
}
.apply__button{
	font-size: rem-calc(24);
	padding: rem-calc(25) rem-calc(19);
	display: inline-block;
}

.apply__content{
	margin-top: rem-calc(20);
}


.job-statement{
	font-size: rem-calc(13);
	margin-top: rem-calc(20);
	border-top: 1px solid #eee;
	padding-top: rem-calc(20);
}