.job-single__basic-info{
	font-size: rem-calc(22);
	p{ margin: 0}
}

.job-single__descriptor{
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: bold;
}

.apply__container{
	text-align: center;
	margin-top: rem-calc(20);
	padding-top: rem-calc(20);
	border-top: 2px solid #eee;
}
.apply__button{
	font-size: rem-calc(24);
	padding: rem-calc(25) rem-calc(19);
	display: inline-block;
}

.apply__content{
	margin-top: rem-calc(20);
}


.job-statement{
	font-size: rem-calc(13);
	margin-top: rem-calc(20);
	border-top: 1px solid #eee;
	padding-top: rem-calc(20);
}