.footer-logo-area {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    font-size: 15px;

    p {
        margin: 0.6667em 0;
    }

}

.footer-logo-area__logo {
    max-height: 160px;
    display: block;
    margin: auto;
}

#mc_embed_signup form {
    padding: 0;
    width: 280px;
}

#mc_embed_signup input {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

#mc_embed_signup .clear {
    clear: none;
    display: inline;
    float: none;
}

.font-weight-bold {
    font-weight: bold !important;
}

.text-red {
    color: red !important;

}

.text-green {
    color: green !important;
}

.button.hollow.button--red {
    border-color: red;
    color: red;
}

.button.hollow.button--green {
    border-color: green;
    color: green;
}

.text-small {
    font-size: 15px !important;
}

.accordion {
    background: none;
}

.accordion-title {
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ccc;
    font-weight: normal;
    color: #6e6e6e;
}

.accordion-content {
    border-color: #ccc;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-item:first-child>:first-child {
    border-radius: 1px 1px 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

:last-child:not(.is-active)>.accordion-title {
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


:last-child>.accordion-content:last-child {
    border-bottom: none;
}
