
@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.footer-logo-area {
	border-top: 1px solid #ddd;
	padding: 20px 0;
	font-size: 15px;
	p{
		margin: 0.6667em 0;
	}

}

.footer-logo-area__logo{
	max-height: 160px;
	display: block;
	margin: auto;
}

#mc_embed_signup form {
	padding: 0;
	width: 280px;
}

#mc_embed_signup input {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#mc_embed_signup .clear{
	clear: none;
	display: inline;
	float: none;
}

.font-weight-bold{
    font-weight: bold !important;
}
